#Orphaned Decks
Orphaned Sentinels Decks/Orphaned Hero Cards
#SCC Decks
##SCC Heroes
SCC Sentinels Decks/SCC Environment Cards
SCC Sentinels Decks/SCC Hero Decks
SCC Sentinels Decks/SCC Villain Cards
*.ini
